# ==========================================================
# Loopy - Variables d'Entorn Unificades per a PRODUCCIÓ
# Aquest fitxer s'ha de renombrar a '.env' a l'arrel del servidor
# (ex: /opt/loopy/.env) i configurar-lo abans de desplegar.
# ==========================================================

# --- APP CONFIG (Laravel) ---
APP_NAME=Loopy
# APP_ENV ha de ser 'production' en el servidor real
APP_ENV=production
# APP_DEBUG a 'false' en producció per no escopir errors al client
APP_DEBUG=false
# Canvia això pel domini real de la teva web (ex: https://la-teva-web.com)
APP_URL=http://localhost:8000
APP_TIMEZONE=UTC
APP_LOCALE=es

# L'APP_KEY de Laravel. Obligatori genenerar un amb 'php artisan key:generate' 
# però Pots posar un ja fet com aquest en primera instància.
APP_KEY=base64:E0lbPA6QuGp1W9UnxXidYw==


# --- DATABASE (PostgreSQL) ---
# Els contenidors de Docker ja entenen la resolució de noms "postgres"
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=loopy_db

# 🚨 IMPORTANT: Canvia aquestes credencials completament en el servidor real!
DB_USERNAME=loopy_prod_user
DB_PASSWORD=loopy_secret
# Nota: AL DOCKERFILE AQUESTES MATEIXES VARIABLES S'INJECTARAN AL CONTENIDOR DE LA BD


# --- REDIS (Cau i Cues) ---
# Funciona directament usant el nom del servei del docker-compose ("redis")
REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=nvbfincdhosjcjgr46jn60bf

CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis


# --- SECRETS (JWT - Compartit entre Laravel i NodeJS) ---
# 🚨 IMPORTANT: Això assegura els teus tokens d'usuari!
# Generar-ne un de fresc corrent: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=4b2e95c71827e0f29601e4566112841c47b7fe53eab506fb3884be7e8735c623


# --- FRONTEND (Nuxt i NodeJS) ---
# Url on el frontend de Nuxt escoltarà els WebSockets de NodeJs (Canvia el "localhost" pel teu domini real o IP quan toqui)
SOCKET_URL=http://localhost:3001
# Url on el frontend de Nuxt farà les peticions a l'API de Laravel (Canvia el "localhost" pel teu domini real o IP quan toqui)
API_URL=http://localhost:8000
