APP_NAME=Loopy
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=UTC
APP_LOCALE=en
APP_KEY=base64:E0lbPA6QuGp1W9UnxXidYw==

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=loopy_db
DB_USERNAME=loopy
DB_PASSWORD=loopy_secret

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null

CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

JWT_SECRET=4b2e95c71827e0f29601e4566112841c47b7fe53eab506fb3884be7e8735c623

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8000/api/auth/google/callback
GOOGLE_FRONTEND_REDIRECT=http://localhost:3000/auth/google/redirect

# External APIs
WGER_API_URL=https://wger.de/api/v2
WGER_API_TOKEN=

GOOGLE_CALENDAR_API_KEY=
GOOGLE_BOOKS_API_KEY=
YOUTUBE_DATA_API_KEY=

API_NINJAS_API_KEY=
OPENWEATHER_API_KEY=